.modalBg {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &__modal {
    background: #242424;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    min-width: 40rem;
    z-index: 2;

    &-title {
      margin-top: 0.7em;
      text-transform: uppercase;
    }

    &-body {
      padding: 1em 1em 2em 1em;
      max-height: 500px;
      overflow: auto;
    }

    &-cButton {
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }

      svg {
        font-size: 1.5em;
      }
    }
  }
}

// .modalBackground {
//   background: rgba(255, 255, 255, 0.2);
//   backdrop-filter: blur(2px);
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 1;
// }

// .modal {
//   background: #242424;
//   border: 1px solid #ccc;
//   border-radius: 0.5em;
//   position: absolute;
//   top: 10%;
//   left: 50%;
//   transform: translate(-50%);
//   min-width: 40rem;
//   z-index: 2;
// }

// .modal .title {
//   margin-top: 0.7em;
//   text-transform: uppercase;
// }

// .modal .body {
//   padding: 1em 1em 2em 1em;
//   max-height: 500px;
//   overflow: auto;
// }

// .closeButton {
//   background: none;
//   border: none;
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 1;
// }

// .closeButton svg {
//   font-size: 1.5em;
// }

// .closeButton:hover {
//   cursor: pointer;
// }
