.modalBg {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

  &__modal {
    background: #242424;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    min-width: 40rem;
    z-index: 5;

    &-title {
      margin-top: 0.7em;
      text-transform: uppercase;
    }

    &-body {
      padding: 1em 1em 2em 1em;
      max-height: 500px;
      overflow: auto;
    }

    &-cButton {
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;

      &:hover {
        cursor: pointer;
      }

      svg {
        font-size: 1.5em;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .modalBg {
    &__modal {
      min-width: auto;
      width: 95%;
    }
  }
}
