.rangeSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  position: relative;

  &__label {
    line-height: 0;
    margin-right: 0.5em;
  }

  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 2em;
  }

  &__counter {
    position: absolute;
    top: -1em;
  }

  input {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .rangeSlider {
    flex-direction: column;

    &__label {
      margin-bottom: 0.5em;
    }

    &__input {
      width: 100%;
    }

    &__counter {
      top: 2.2em;
    }
  }
}
