.navbar {
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 30px;
  top: 0;
  left: 0;
  font-size: 1.5em;
  display: flex;
  justify-content: center;

  &__title {
    position: absolute;
  }

  &__wTitle {
    display: inline-flex;
    transform: rotate(180deg);
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 600px;
    font-size: 0.7em;

    div {
      margin: 0.5em;

      &:hover {
        color: gold;
        cursor: pointer;
      }
    }
  }

  span {
    &:first-child {
      margin: -0.155em;
    }
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    &__wTitle {
      transform: rotate(160deg) translate(0.1em, 0.25em);
    }
  }
}
