.keyboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 38vw;
  flex-wrap: wrap;
}

.keyboard .keyboardButton {
  height: 3em;
  width: 3em;
  font-size: 1em;
  text-transform: capitalize;
  margin: 0.1em;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #464347;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.keyboard .keyboardButton.green {
  background-color: rgba(43, 248, 43, 0.459) !important;
}

.keyboard .keyboardButton.yellow {
  background-color: rgba(255, 217, 0, 0.829) !important;
}

.keyboard .keyboardButton.black {
  background-color: rgba(0, 0, 0, 0.514) !important;
}

.keyboard .keyboardButton:hover {
  background-color: rgba(128, 128, 128, 0.74);
}

.keyboard .keyboardButton:nth-child(21) {
  flex-basis: 7.8em;
}

.keyboard .keyboardButton:nth-child(21) svg {
  rotate: 90deg;
}

.keyboard .keyboardButton:nth-child(28) {
  flex-basis: 5em;
}
