.rangeSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  position: relative;
}

.rangeSlider .label {
  line-height: 0;
  margin-right: 0.5em;
}

.rangeSlider .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 2em;
}

.rangeSlider input {
  width: 100%;
}

.rangeSlider .counter {
  position: absolute;
  top: -1em;
}
