/* The switch - the box around the slider */
.toggleButton .switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

/* Hide default HTML checkbox */
.toggleButton .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggleButton .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggleButton .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2.8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggleButton input:checked + .slider {
  background-color: rgb(40, 175, 40);
}

.toggleButton input:focus + .slider {
  box-shadow: 0 0 1px rgb(65, 226, 65);
}

.toggleButton input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.toggleButton .slider.round {
  border-radius: 34px;
}

.toggleButton .slider.round:before {
  border-radius: 50%;
}

.toggleButton .disabled {
  background-color: #ccccccb4;
  cursor: not-allowed;
}

.toggleButton .disabled.slider:before {
  background-color: rgba(201, 198, 198, 0.938);
}
